.movieinfocard {
    padding-top: 20px;
}


td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}


.card {
    border: 1px solid #e2e2e2;
    border-radius: .5rem;
    
}

.card > div> img {
    max-height: 50%;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
    max-width: 100%;
}

.card-title{
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
}

  
  