  .moviesearchlist {
    width: 95%;
    margin: 1rem auto; 
    padding: 20px; 
    border: 1px dotted black; 
    min-height: 75vh; 
    max-height: 80vh;
    overflow-y: auto;
    display: flex; 
    flex-direction: column;
    
}

.searchform {
    background-color: #dddbdb;
    background-size: cover;
    padding: .5rem;

    display: grid;
    align-items: center;
    grid-template-columns: repeat (auto-fit, minmax(240px, 1fr));
    margin-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: #628565;
    padding: 1rem .7rem;
    height: 10px;
    color: white; 
    border-radius: 12px;
    line-height: 0px;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

label {
    font-size: 1rem;
    font-weight: bold;
}


#queryInput {
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: 2.5rem;
}

.searchResults {
    margin-top: 3rem;
}