/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, button{
  font-family: 'Source Sans Pro', sans-serif;
}

/*Generic styles */
html {
  scroll-behavior: smooth;
}

button {
  background-color: #a14444;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
  margin: 10px;
  border-radius: .25rem;
  border-width: .08rem;
}

button:hover {
  opacity: .7;
}

form {
  border-width: 1rem;
 }

